body {
    color: #333;
    background: rgb(245,139,29);
    background: linear-gradient(45deg, rgba(245,139,29,1) 0%, rgba(249,166,25,1) 36%, rgba(251,226,4,1) 100%);
}

#main {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#main .head {
    padding: 20px;
    border-bottom: solid 2px rgb(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 24px;
    font-weight: bold;
}

#main .body {
    padding: 30px;
}