body {
    background: linear-gradient(45deg,
            rgba(245, 139, 29, 1) 0%,
            rgba(249, 166, 25, 1) 36%,
            rgba(251, 226, 4, 1) 100%);
}

// block
.division-app {
    color: #333;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);

    // element
    >.body {
        padding: 30px;
    }
}

// block
.content-header {
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;

    // block modifier
    &.-large {
        font-size: 24px;
    }

    // block modifier
    &.-underline {
        background-color: rgba(0, 0, 0, 0.05);
        border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    }
}

// block
.database-type {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;

    // element
    >.list {
        padding: 5px 10px;
        border: solid 2px #ddd;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}


// block
.administrative-division {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;
}

// block
.sql-editor-list {
    padding: 0;
    margin: 0;
    list-style: none;

    //element
    >.column {
        font-size: 16px;
    }

    //element
    >.editor {
        padding: 5px 0;
    }
}

// block
.sql-editor {

    // element
    >.script {
        width: calc(100% - 55px);
        padding: 10px;
        margin-left: 10px;
        border: solid 2px #ddd;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        vertical-align: top;
    }

    // element modifier
    >.script.-disabled {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

// utility/service
._text-center {
    text-align: center;
}
